<nav ng-controller='MainController' class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/users">Break It Down</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav pull-right">
        <li><a href="/sessions">Sessions</a></li>
        <li><a href="/breakdown">Breakdown</a></li>
        <li><a href="/faq">F.A.Q</a></li>
        <li><a href = "/#/" ng-click = "logout()">Logout</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
<br>
<br>
<br>
<br>
<div class ='search'>
  <input class= 'searchbar' type="text" ng-model="pizzle.$" placeholder='Search for a move...'>
</div>
<br>

<div class='moves container'>
  <div class='movesRow row'>
    <div class ='movesCollection col-sm-4 col-md-4' ng-repeat='move in movesCollection | filter:pizzle | orderBy:sortBy'>
      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
      	<div class="flipper">
          <a class ='moveLink' href="{{move.url}}" target="_blank">
            <div class="front">
              <!-- front content -->
              <h4>{{move.name}}</h4>
              <div>{{move.class}}</div>
              <img class='classpic' src="images/{{move.picture}}" alt="classPic">
              <div class='moveDifficulty'>difficulty: {{move.difficulty}}</div>
            </div>
            <div class="back">
              <div class='moveDesc pull-left'>{{move.description}}</div>
              <!-- back content -->
            </div>
          </a>
      	</div>
      </div>
    </div>
  </div>
</div>
<!-- <div class ='user col-xs-5 pull-left' ng-repeat='user in users'>
  <p>Email: {{user.email}}</p>
  <p>Password: {{user.password}}</p>
  <p>Facebook: {{user.fb_id}}</p>
  <p>Nickname: {{user.nickname}}</p>
</div> -->
