<div class="bodyLayout container">
  <div class='row'>
    <div class='bodyContent'>
      <img class = 'splashBboy' src="images/bboy.jpeg" alt="bboy">
      <div class='splashTitle'>
        <h1>Break It Down</h1>
          <h2 class='splashButton'ng-click="authenticate('facebook')">Sign in</h2>
      </div>
    </div>

  <div class="bottomLayout container">
    <div class='row'>
      <div class='leftContent col-sm-4 col-md-4'>
        <img class='splashPics' src="images/freeze.png" alt='splashLeft'>
        <p class='leftBody'>Sign up and get the rundown/video tutorial to learn the basics of the craft, don't be intimidated!</p>
      </div>
      <div class='middleContent col-sm-4 col-md-4'>
        <img class='splashPics' src="images/power.png" alt='splashMiddle'>
        <p class='middleBody'>Create a session and choose what moves you want to focus on, commit to it and hit the floor!</p>
      </div>
      <div class='rightContent col-sm-4 col-md-4'>
        <img class='splashPics' src="images/basic.png" alt='splashRight'>
        <p class='rightBody'>Stay focused and know your worth!  Pass the knowledge and experience forward!</p>
      </div>
    </div>
  </div>
</div>
